{% extends 'base.html' %}


{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
       <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
        <div class="card-body">
          <h2>LOGIN</h2>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">LOGIN</button>
          </form>
          </div>
      </div>
        </div>
      </div>
    </div>

{% endblock %}